*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{
    text-align: center;

}
button{
    margin: .5em .2em;
    padding: .5em;
    border-radius: 12px;
}